h3 {
  font-size: 4rem;
}
p {
  display: flex;
  text-align: justify;
  justify-content: center;
}
.second {
  background-color: steelblue;
  color: mistyrose;
}

hr{
  width:100%;
  border: 1.5px solid salmon;
  float:center;
  margin-left:0;
}
#About{
  display: block;
}